
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/open-sans-light.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/open-sans-semibold.woff2") format("woff2");
}

@import "./variables";

@import "bulma/bulma";
@import "font-awesome/scss/font-awesome";

.Header {
  &-logo {
    content: url("./img/logo.png");
  }
}

.is-code {
  font-family: monospace;
  font-size: 0.75em;
}
