
.DateInput {

  &-calendar {
    height: 300px;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &-calendar li {
    margin: 0;
    padding: 0.5em;
    text-align: center;
    line-height: 1em;
  }

  &-calendar li.active {
    background: #eee;
  }
  &-calendar li.selected {
    background: #eee;
    border: 1px solid #666;
  }
  &-calendar li.anchor {
    background: #eee;
    border: 1px solid #666;
  }
  &-calendar li.between {
    background: #f8f8f8;
  }

  &-weekday {
    color: #ccc;
    font-variant: small-caps;
  }
  &-date {
    font-size: 1.5em;
  }
  &-month {
    color: #ccc;
    font-variant: small-caps;
    padding-bottom: 0.2em;
  }

}
